@{
  Layout = "_Layout";
}

@model DoctorsOffice.Models.Doctor

<h2>Add a patient</h2>

<hr>

<h4>Add a Patient to this Doctor: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.DoctorId)

  @Html.Label("Select Patient")
  @Html.DropDownList("PatientId")

  <input type="submit" value="add" />
}
