@{
  Layout = "_Layout";
}

@using DoctorsOffice.Models;
@model List<DoctorsOffice.Models.Doctor>

<h2>Doctors</h2>

@if (@Model.Count == 0)
{
  <p>There are no doctors in the system.</p>
}

<ul>
  @foreach (Doctor doctor in Model)
  {
    <li>@Html.ActionLink($"{doctor.Name}", "Details", new { id = doctor.DoctorId})</li>
  }
</ul>

<p>@Html.ActionLink("Add doctor", "Create")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>