@{
  Layout = "_Layout";
}

@model DoctorsOffice.Models.Specialty

<h2>Add a Doctor</h2>

<hr>

<h4>Add a Doctor to this Specialty: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.SpecialtyId)

  @Html.Label("Select Doctor")
  @Html.DropDownList("DoctorId")

  <input type="submit" value="add" />
}