@{
  Layout = "_Layout";
}

@model DoctorsOffice.Models.Patient

<h2>Delete</h2>

<h4>Delete this patient: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  <input type="submit" value="Delete" class="btn btn-danger" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>