@{
  Layout = "_Layout";
}

<p>@Html.ActionLink("Patients", "Index", "Patients")</p>
<p>@Html.ActionLink("Specialties", "Index", "Specialties")</p>
<p>@Html.ActionLink("Doctors", "Index", "Doctors")</p>
